body {
  margin: 0;
}

.news-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 16px;
  justify-content: center;
  align-items: center;
  padding: 0 20px 10px 10px;
  font-family: 'Texturina', serif;
}

.splitter {
  height: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.spin {
  padding: 50;
  background: rgba(0, 0, 0, 0.05);
  color: white;
}

.advertising {
  text-align: center;
  font-family: 'Texturina', serif;
}